{% extends "base.html" %}

{% block content %}
<b>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">

                    <h1>Fale conosco</h1>
                    <p>
                        Você pode entrar em contato conosco tanto por e-mail, como pela redes sociais, abaixo seguem os links para contato:

                    </p>
                </div>
            </div>
        </div>
    </div>

        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h3>Links</h3>
                    <ul>
                        <li>E-mail: <a href="mailton:tribrary@outlook.com">tribrary@outlook.com</a></li>
                        <li>Twitter: <a href="https://www.twitter.com/tribrary">@tribrary</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </b>
</div>
{% endblock %}